---
import Contact from "../../components/Contact.jsx";
import "../../components/App.scss";
import Layout from "../../layouts/Page.astro";
import Container from "../../components/Container.astro";

const seo = {
  title: "Contact Us! - Sheehan Construction",
  description:
    "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.",
};

import { getContact } from "../../lib/api.js";
const contactData = await getContact();
const workingArea = contactData[0].area;
const email = contactData[0].email;
const established = contactData[0].established;
const name = contactData[0].name;
const phone = contactData[0].phone;
// console.log(workingArea, email, established, name, phone);
---

<Layout seo={seo}>
  <Container />
  <div class="page">
    <Contact
      phone={phone}
      name={name}
      established={established}
      email={email}
      workingArea={workingArea}
    />
  </div>
</Layout>
